*
{
    padding: 0;
    margin: 0;
    font-family: 'Popping', sans-serif;
    box-sizing: border-box;
}

.container
{
    width: 80%;
    max-width: 660px;
    background: linear-gradient(135deg, yellow, orange);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-view
{
    max-width: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-view .display
{
    border-radius: 20px 20px 0px 0px;
    border: 8px solid #b8ceff;
    background: linear-gradient(135deg, #d0dfff, #b3cbff); 
}

.player-view .display img
{
    width: 150px;
}

.player-view .buttons
{
    display: flex;
    justify-content: center;
}

.player-view .buttons button
{
    background-color: #d0dfff;
}

.player-view .buttons button img
{
    height: 53px;
}

/*----------------------------------------*/
.versus img
{
    width: 100px;
    
}

.cpu-view .display
{
    border-radius: 20px;
    border: 8px solid #b8ceff;
    background: linear-gradient(135deg, #d0dfff, #b3cbff);
}

.cpu-view .display img
{
    width: 150px;
}

.cpu-view .status,
.player-view .status
{
    margin-top: 10px;
    font-size: 30px;
    color: rgb(255, 182, 46);
    text-shadow: 2px 2px 4px black;
}